/* Container Grid */

#container {

  display: grid;

grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 150px 1fr;
  min-height: 100vh;

  grid-template-areas:

    'l h h h '
    'm m m m '
    'm m m m '
    'm m m m ';

  gap: 10px;

}

/* LOGO */
logo {
     grid-area: l;
     text-align: center;
}


/* Header */

header {

  grid-area: h;

  text-align: left; /* Centers the main heading */

}



/* Search box inside header */

#search {

  float: right;

}



/* Navigation */

nav {

  grid-area: n;
  display: flex;
    flex-direction: rows;
    gap: 10px;
    padding: 10px;

}



/* Align button text to left inside nav */

nav button {
     width: 100;
     text-align: left;
     padding: 10px;
}



/* Main content */

main {

  grid-area: m;

}

.box1 {
    grid-area: l;
    Background-color: #ffb3ba;
}
.box2 {
    grid-area: h;
    Background-color: #ffdfba;
}
.box3 {
    grid-area: n;
    Background-color: #ffffba;
}
.box4 {
    grid-area: m;
    Background-color: #bae1ff;
}

main { overflow: auto; }


.results {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, auto);
  gap: 10px;
}

/* Page layout */
#container {
    width: 100%;
    min-height: 100vh;
}

/* Main results area */
#resultsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 12px;
    padding: 15px;
}

/* Each ward box */
.wardBox {
    background-color: #FFCAA4;
    border-radius: 12px;
    padding: 12px;
    text-align: left;

    min-height: 80px;
    height: auto;
}


/* Ward title */
.wardBox h3 {
    margin: 0;
    font-size: 14px;
}

/* Ward code */
.wardBox p {
    margin: 5px 0 0;
    font-size: 12px;
    opacity: 0.8;
}

#resultsContainer form {
    margin: 0;
}

#resultsContainer button {
    all: unset;
    display: block;
    width: 100%;
    cursor: pointer;
}
