/* Container Grid */

#container {

  display: grid;

  grid-template-areas:

    'u u u'

    'm m m'

    'l l l';

  gap: 0px;

}



/* Header */

upper {

  grid-area: u;

  text-align: center;
  margin-top:50px;
  margin-bottom: 150px;
   /* Centers the main heading */

}


/* Main content */

middle {

  grid-area: m;
   text-align: center;
   margin-bottom: 50px;
}


lower {
grid-area: l;
text-align: center;
}